
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>forgotpwd</title>
</head>
<body>
    <div>
        <div style="text-align:center;background-color:cyan">
            Forgot your password? Enter your registered Email Id, to receive a reset password link.
            <br />
            Email Id: <input type="email" id="txtEmail" name="txtEmail" />
            <input type="submit" id="btnSubmit" value="Submit" />
        </div>
        <h4 style="text-align:center;color:red">
            Click here to go to <a href="/Home/Index">Home Page.</a>
        </h4>

    </div>
</body>
</html>
