
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div>
        <h1> welcome to homeppage</h1>
        <a href="/Home/register"> click here to go to register</a> <br /><br />
        <a href="/Home/login"> click here to go to login</a><br /><br />
        <a href="/Home/forgot"> forgot pswd</a><br /><br />
        <a href="/Home/reset"> reset</a><br /><br />
    </div>
</body>
</html>
