
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>register</title>
</head>
<body>
    <div>
        <h3 style="text-align:center;text-decoration:underline">Registration Page</h3>
        <table align="center">
            <tr><td>Name:</td><td><input type="text" id="txtName" name="txtName" /></td></tr>
            <tr><td>User Id:</td><td><input type="text" id="txtUid" name="txtUid" /></td></tr>
            <tr><td>Password:</td><td><input type="password" id="txtPwd" name="txtPwd" /></td></tr>
            <tr><td>Confirm Password:</td><td><input type="password" id="txtCPwd" name="txtCPwd" /></td></tr>
            <tr><td>Mobile:</td><td><input type="tel" id="txtMobile" name="txtMobile" /></td></tr>
            <tr><td>Email Id:</td><td><input type="email" id="txtEmail" name="txtEmail" /></td></tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" id="btnRegister" value="Register" />
                    <input type="reset" id="btnReset" value="Reset" />
                </td>
            </tr>
        </table>
        <a href="/home/index">click here to go home</a><br />
        <a href="/home/login">click here to go loginpage</a>
    </div>
</body>
</html>
