
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>resetpswd</title>
</head>
<body>
    <div>
        <div style="text-align:center;background-color:cyan">
            <h4>Reset Password</h4>
            <table align="center">
                <tr><td>New Password:</td><td><input type="password" id="txtPwd" name="txtPwd" /></td></tr>
                <tr><td>Confirm Password:</td><td><input type="password" id="txtCPwd" name="txtCPwd" /></td></tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" id="btnSubmit" value="Submit" />
                        <input type="reset" id="btnReset" value="Reset" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
