
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show1</title>

</head>
<body>
    <div>
        <div style="background-color: cyan"><h3 style="text-align: center">This is Show1 View Page</h3></div>
        <h4>Click here to go to <a href="/Home/Index">Home Page.</a></h4>
    </div>
</body>
</html>
